<div class="center hero-unit">
  <h1>Welcome to Seconds</h1>

  <h2>
    This is my fucking home page.
  </h2>
  <p></p>
  <h2>
  	It doesn't matter because I'm just writing an API.
  </h2>
 	<%= link_to "Sign Up Now, Bitch", signup_path, class: "btn btn-large btn-primary" %>
</div>

